<main>
  <p-toast></p-toast>
  <section class="main-section">
    <img ngSrc="svg/desktop-login-image.svg" fill style="object-fit: cover" alt="Background Login" />
  </section>
  <section class="form-section">
    <!-- Logotipo da empresa centralizado acima do formulário -->
    <img ngSrc="svg/syax-icon.svg" height="80" width="180" alt="Syax Logo" />

    <div class="form-content">
      <h2 *ngIf="title">{{ title }}</h2>
      <ng-content></ng-content>

      <div class="btn-container">
        <button
          class="btn-primary"
          (click)="submit()" type="button"
          [disabled]="disablePrimaryBtn"
        >{{ primaryBtnText }}</button>
      </div>
    </div>
  </section>
</main>
